<!DOCTYPE html>
<html >
<head>
<meta charset="UTF-8">
<title>Burned Calories Prediction</title>
<link rel="icon" href="https://image.flaticon.com/icons/png/512/5029/5029103.png" type="image/png"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
<div class="login">
    <h1>Predict Burned Calories</h1>
    <!-- 'Gender', 'Age', 'Height', 'Weight', 'Duration', 'Heart_Rate', 'Body_Temp' -->
    
    <form action="{{ url_for('predict')}}"method="post">
        <select name="gender" placeholder="Gender" required>
            <option disabled selected>Select Gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>
        <input type="text" name="age" placeholder="Age" required>
        <input type="text" name="height" placeholder="Height in cm" required/>
        <input type="text" name="weight" placeholder="Weight in Kg" required/>
        <input type="text" name="duration" placeholder="Workout Time" required/>
        <input type="text" name="heart_rate" placeholder="Heart Rate" required/>
        <input type="text" name="body_temp" placeholder="Body Temperature" required/>
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict My Burned Calories</button>
    </form>
<br>
<br>

{{ prediction_text }}

</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
